---
import RootLayout from "../layouts/RootLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import ServiceCard from "../components/ServiceCard.astro";
import GalleryCard from "../components/GalleryCard.astro";
import Collage from "../components/Collage.astro";
import Reviews from "../components/Reviews.astro";
import Join from "../components/Join.astro";

import "../styles/global.scss";
---

<RootLayout>
  <div class="container-fluid">
    <Navbar />
    <main>
      <Card />
      <ServiceCard />
      <GalleryCard />
      <Collage />
      <Reviews />
      <Join />
      <Footer />
    </main>
  </div>
  <style>
    main {
      min-height: 80vh;
    }
  </style>
</RootLayout>
