---
import RootLayout from "../layouts/RootLayout.astro";
import Navbar from "../components/Navbar.astro";

import "../styles/global.scss";
---

<RootLayout>
  <div class="container">
    <Navbar />
    <main></main>
  </div>
</RootLayout>
<style>
  main {
    min-height: 80vh;
  }
</style>
