<div class="container-md-fluid">
  <div class="gallery border-rounded px-3 rounded-4">
    <div class="">
      <div class="text-center">
        <h6 class="display-3">About Us</h6>
        <p class="text-muted">
          The three pillars on which this company was built
        </p>
      </div>
      <div class="card-group text-center gap-4">
        <div class="card border-0 rounded-3 shadow">
          <img
            src="images/p1.jpeg"
            class="card-img-top rounded-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title fs-3">Andrea</h5>
            <p class="card-text">
              The leader of the pack, first of his name. <br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="card-footer">
            <p class="lead">CEO</p>
          </div>
        </div>
        <div class="card rounded-3 border-0 shadow">
          <img src="images/p2.jpeg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title fs-3">Darryl</h5>
            <p class="card-text">
              World-renowned electrician who works at Schneider. <br /> Aperiam necessitatibus
              nemo aut accusamus sit.
            </p>
          </div>
          <div class="card-footer">
            <p class="lead">General Manager</p>
          </div>
        </div>
        <div class="card rounded-3 border-0 shadow">
          <img src="images/p3.jpeg" class="card-img-top rounded-3" alt="..." />
          <div class="card-body">
            <h5 class="card-title fs-3">Shaun</h5>
            <p class="card-text">
              World-renowned mechanic who is on par with Dominic Toretto.
              <br /> Accusamus nihil eaque cupiditate accusantium magnam voluptatum
              vel ad, itaque perferendis.
            </p>
          </div>
          <div class="card-footer">
            <p class="lead">Director</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .gallery {
    background-color: #fff;
    padding: 10rem 0;
  }
  img {
    padding: 1rem;
  }
</style>
