<div class="container-md-fluid">
  <div class="card border-rounded rounded-4">
    <div class="text-center">
      <h1 class="card-title">A Better Way To Buy And Sell A Business</h1>
      <div class="card-body text-muted p-1">
        U-Pop is an online platform that gives you all the best tools to buy or
        sell a business.
      </div>
      <div class="card-search my-5">
        <div class="col-md-4 mx-auto">
          <div
            class="input-group input-group-md border border-1 bg-transparent rounded-pill p-2 baba"
          >
            <span class="input-group-text bg-transparent border border-0">
              <i class="bi bi-search border border-0"></i>
            </span>
            <input
              type="text"
              class="form-control border border-0 bg-transparent p-1"
              placeholder="Find your dream partner"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .card {
      background-color: #fae7e4;
      border-color: #fae7e4;
      padding: 10rem 0;
    }

    h1 {
      font-size: 4rem;
    }
    .baba {
      background-color: #fff7f8 !important;
      border-color: #fff7f8 !important;
    }
    input:focus {
      box-shadow: none !important;
    }
  </style>
</div>
