<div class="container-md-fluid">
  <div class="gallery border-rounded px-3 rounded-4 text-center">
    <h3 class="display-3 text-center pb-2">Collage</h3>
    <p class="text-muted fs-5 pb-4">
      Here are some of the photos from our businesses
    </p>
    <div class="row">
      <div class="col-md-4 mb-4 mb-lg-0">
        <img
          src="images/bv1.jpeg"
          class="w-100 shadow rounded mb-4"
          alt="Boat on Calm Water"
        />

        <img
          src="images/b1.jpeg"
          class="w-100 shadow rounded mb-4"
          alt="Wintry Mountain Landscape"
        />
      </div>

      <div class="col-md-4 mb-4 mb-lg-0">
        <img
          src="images/bv2.jpeg"
          class="w-100 shadow rounded mb-4"
          alt="Mountains in the Clouds"
        />

        <img
          src="images/bh2.jpeg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Boat on Calm Water"
        />
      </div>

      <div class="col-md-4 mb-4 mb-lg-0">
        <img
          src="images/bh3.jpeg"
          class="w-100 shadow rounded mb-4"
          alt="Waves at Sea"
        />

        <img
          src="images/bv3.jpeg"
          class="w-100 shadow rounded mb-4"
          alt="Yosemite National Park"
        />
      </div>
    </div>
  </div>
</div>
<style>
  .gallery {
    background-color: #fff7f8;
    border-color: #fae7e4;

    padding: 10rem 0;
  }
</style>
