<footer class="container-md py-5">
  <div><img class="logo" src="images/u-pop.svg" alt="" srcset="" /></div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          <ul class="p-1">
            <li><a href="">Careers</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Chale</a></li>
            <li><a href="">Jeje dey whine</a></li>
          </ul>
        </div>
        <div class="col">
          <ul class="p-1">
            <li><a href="#">Agents</a></li>
            <li><a href="#">Agencies</a></li>
            <li><a href="#">Get Business</a></li>
            <li><a href="#">Buy a Business</a></li>
          </ul>
        </div>
      </div>
      <div class="d-flex gap-4 mb-3">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-pinterest"></i>
        <i class="bi bi-youtube"></i>
      </div>
    </div>
    <div class="col-md-6">
      <label class="fs-5 text-muted" for="">Get the freshest Upop news</label>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Your email here"
          aria-label="Recipient's email"
          aria-describedby="button-addon2"
        />
        <button class="btn button" type="button" id="button-addon2"
          >Subscribe</button
        >
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label text-muted" for="flexCheckDefault">
          By checking the box, you agree that you are at least 16 years of age.
        </label>
      </div>
    </div>
  </div>
  <hr />
  <ul class="list-inline text-center text-muted">
    <li class="list-inline-item mx-3"><a href="#">Website Terms</a></li>
    <li class="list-inline-item mx-3"><a href="#">Privacy Policy</a></li>
    <li class="list-inline-item mx-3">
      <a href="#">Accessibility Statement</a>
    </li>
    <li class="list-inline-item mx-3"><a href="#">Marketing to Children</a></li>
    <li class="list-inline-item mx-3">
      <a href="#">Do Not Sell My Information</a>
    </li>
    <li class="list-inline-item mx-3"><a href="#">Code of Conduct</a></li>
  </ul>
  <p class="text-muted text-center">©2023 Upop, LLC. All Rights Reserved.</p>
</footer>
<style>
  ul {
    list-style: none;
  }
  .list-inline-item,
  .list-inline-item:hover {
    text-decoration: underline;
  }
  li > a {
    text-decoration: none;
    color: grey !important;
  }
  i {
    font-size: 1.5rem;
    color: #e9be56;
  }

  .button {
    background-color: #e9be56;
    transition: background-color 0.5s;
    color: white;
  }
  .button:active,
  .button:hover {
    background-color: transparent !important;
    color: #e9be56 !important;
    border-color: #e9be56 !important;
  }
  .form-control,
  .form-control:active,
  .form-control:focus,
  .form-control:hover,
  .form-check-input {
    border-color: #e9be56 !important;
    outline: none !important;
    box-shadow: none !important;
  }
</style>
