<div class="container-md-fluid">
  <div class="gallery border-rounded px-3 rounded-4">
    <div class="d-flex justify-content-between">
      <div class="">
        <h6 class="">Past clients</h6>
        <p class="text-muted">have a look at our past work</p>
      </div>
      <button class="btn btn-outline-secondary">Explore</button>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid border" src="images/business.jpeg" alt="..." />
        <img class="img-fluid" src="images/business1.jpeg" alt="..." />
      </div>
    </div>
  </div>
</div>

<style>
  .gallery {
    background-color: #fff;
    padding: 10rem 0;
  }
  img {
    padding: 1rem;
  }
</style>
