<div class="container-md-fluid">
  <div class="gallery border-rounded px-3 rounded-4 font-monospace">
    <div class="d-flex flex-wrap-reverse">
      <div
        class="col-md-6 py-5 my-4 align-self-center text-center shadow rounded-4"
      >
        <h3 class="px-4 display-6">Join a team that celebrates each other</h3>
        <p class="px-5 pt-3">
          We're on the lookout for motivated, curious, and creative people who
          are excited about transforming the way businesses communicate. Let's
          create something spectacular
        </p>
        <button class="btn btn-outline-info">See open positions</button>
      </div>
      <div class="col-md-6 text-center">
        <img
          class="w-75 rounded-3 shadow"
          src="images/team.jpeg"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </div>
</div>
<style>
  .gallery {
    background-image: url("/images/mistybackground.jpg");
    background-size: cover;
    padding: 10rem 0;
  }
</style>
