<div class="container-md-fluid mt-5">
  <div class="gallery border-rounded px-3 rounded-4">
    <div class="">
      <h1 class="display-1 text-center">Join</h1>
    </div>
  </div>
</div>
<style>
  .gallery {
    background-color: #fae7e4;
    border-color: #fae7e4;

    padding: 10rem 0;
  }
</style>
