<nav class="navbar navbar-expand-md">
  <div class="container">
    <a class="navbar-brand pe-none" href="#"
      ><img class="logo" src="images/u-pop.svg" /></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="mx-auto">
        <ul class="navbar-nav px-2 gap-3">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Buy a business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
      <hr />
      <div class=""><button class="code btn"> Sell a business</button></div>
    </div>
  </div>
</nav>
<style>
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  .nav-link {
    font-size: 1rem;
  }
  button {
    transition: 5s ease-in;
  }
  .code {
    background-color: #e9be56;
    transition: background-color 0.5s;
    color: white;
  }

  .code:hover,
  .code:active {
    background-color: transparent !important;
    color: #e9be56 !important;
    border-color: #e9be56 !important;
  }
</style>
