<div class="container-md-fluid">
  <div class="gallery border-rounded rounded-4">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
          <h5 class="display-5 mb-2">What They Said About Us</h5>
          <p class="mb-4 pb-2 mb-md-5 pb-md-0 text-muted">
            Here are some reviews from our trusted clients
          </p>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card shadow rounded-3">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                  class="rounded-circle"
                  width="100"
                  height="100"
                />
              </div>
              <h5 class="font-weight-bold">Teresa May</h5>
              <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-half"></i>
                </li>
              </ul>
              <p class="mb-2">
                <i class="bi bi-quote pe-2"></i>Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Quod eos id officiis hic tenetur
                quae quaerat ad velit ab hic tenetur.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card shadow rounded-3">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(15).webp"
                  class="rounded-circle"
                  width="100"
                  height="100"
                />
              </div>
              <h5 class="font-weight-bold">Maggie McLoan</h5>
              <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
              </ul>
              <p class="mb-2">
                <i class="bi bi-quote pe-2"></i>Autem, totam debitis suscipit
                saepe sapiente magnam officiis quaerat necessitatibus odio
                assumenda perferendis labore laboriosam.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-0">
          <div class="card shadow rounded-3">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(17).webp"
                  class="rounded-circle"
                  width="100"
                  height="100"
                />
              </div>
              <h5 class="font-weight-bold">Alexa Horwitz</h5>
              <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star"></i>
                </li>
              </ul>
              <p class="mb-2">
                <i class="bi bi-quote pe-2"></i>Cras sit amet nibh libero, in
                gravida nulla metus scelerisque ante sollicitudin commodo cras
                purus odio, vestibulum in tempus viverra turpis.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center py-4">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card shadow rounded-3">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(5).webp"
                  class="rounded-circle"
                  width="100"
                  height="100"
                />
              </div>
              <h5 class="font-weight-bold">Mikasa Ackermann</h5>
              <h6 class="font-weight-bold my-3">Member of Survey Corps</h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star"></i>
                </li>
                <li>
                  <i class="bi bi-star"></i>
                </li>
              </ul>
              <p class="mb-2">
                <i class="bi bi-quote pe-2"></i>Watashi ga shindara, watashi wa
                anata no koto o omoidasu koto sae dekinaku narimasu. Dakara,
                nani ga atte mo kachimasu. Nani ga atte mo ikite yaru!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="card shadow rounded-3">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                  class="rounded-circle"
                  width="100"
                  height="100"
                />
              </div>
              <h5 class="font-weight-bold">Tsunade Senju</h5>
              <h6 class="font-weight-bold my-3">Model at Vogue</h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-half"></i>
                </li>
              </ul>
              <p class="mb-2">
                <i class="bi bi-quote pe-2"></i>Einer der legendären Sannin
                tritt gegen einen rotznasigen Genin an. Ich sollte mich schämen.
                Sie tun, was Sie müssen, um den Feind zu täuschen.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-0">
          <div class="card shadow rounded-3">
            <div class="card-body py-4 mt-2">
              <div class="d-flex justify-content-center mb-4">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                  class="rounded-circle"
                  width="100"
                  height="100"
                />
              </div>
              <h5 class="font-weight-bold">Eren Yeager</h5>
              <h6 class="font-weight-bold my-3">Software Developer in Kyoto</h6>
              <ul class="list-unstyled d-flex justify-content-center">
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li>
                  <i class="bi bi-star-half"></i>
                </li>
                <li>
                  <i class="bi bi-star"></i>
                </li>
              </ul>
              <p class="mb-2">
                <i class="bi bi-quote pe-2"></i>Kore ga tadashī kotona no ka
                handan suru jikan wa arimasen. Tada ugoku dake - te o seiketsu
                ni tamotou to shinaide kudasai.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .gallery {
    background-color: #fff;
    padding: 10rem 0;
  }
  li > i {
    color: #fadeda;
  }
</style>
