<div class="container py-5 text-center">
  <h3>Our Services</h3>
  <p class="text-muted">
    When The Dreams Come True, We're Happy Every Step Of The Way
  </p>
  <div class="row py-3">
    <div class="col-md-4">
      <div class="card bg-transparent border-0">
        <div class="card-logo">
          <img class="logo my-3" src="images/listings.png" alt="" srcset="" />
        </div>
        <div class="card-title fw-bold">The best features</div>
        <div class="card-body">
          <p>
            We use the latest and best technology in order to make your
            experience on our website easy and pleasurable. Street views, floor,
            plans, see what stores, schools and police stations that are near-by
            the property.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-transparent border-0">
        <div class="card-logo">
          <img class="logo my-3" src="images/checkmark.png" alt="" srcset="" />
        </div>
        <div class="card-title fw-bold">Ease of use</div>
        <div class="card-body">
          <p>
            Our goal is to make your next commercial real estate investment as
            easy, fast and pleasurable as possible. That's why we designed and
            developed this website with investors like you in mind.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-transparent border-0">
        <div class="card-logo">
          <img
            class="logo my-3"
            src="images/bestfeatures.png"
            alt=""
            srcset=""
          />
        </div>
        <div class="card-title fw-bold">Thousand of listings</div>
        <div class="card-body">
          <p>
            From family properties to golf courses, we have everything you need
            to find your next investment. Want to post your own listing? We got
            you covered. and we make sure it's an easy process.
          </p>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="col-md-3 rounded-3 btn btn-outline-warning"
    >Join Now</button
  >
</div>
